
@{
    ViewBag.Title = "TestCall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestCall</h2>

<fieldset>
    <legend style="color: Blue">Get Updated Time</legend>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Get all people</h2>
                <div>
                    <button class="btn btn-default" id="getPeople">Get People</button>
                </div>
                <div>
                    <input type="text" class="form-control" id="getPeopleResult" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Get a Person</h2>
                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="text" class="form-control" id="id" />
                </div>
                <div>
                    <button class="btn btn-default" id="getPerson">Get</button>
                </div>
                <div>
                    <input type="text" class="form-control" id="getPersonResult" />
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Create a new Person</h2>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input type="email" class="form-control" id="emailAddress" />
                </div>
                <div>
                    <button class="btn btn-default" id="create">Create</button>
                </div>
                <div>
                    <input type="text" class="form-control" id="postResult" />
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

    </script>

    <script type="text/javascript">

        $('#getPeople').click(function (e) {
            $("#getPeopleResult").val("");
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                url: "/api/Person",
                success: function (data, textStatus, jqXHR) {
                    data.forEach(function (Person) {
                        $("#getPeopleResult").val($("#getPeopleResult").val() + Person.Name + "| ");
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#getPeopleResult").val(jqXHR.statusText);
                }
            });
        });

        $('#getPerson').click(function (e) {
            $("#getPersonResult").val("");
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                url: "api/person/" + $("#id").val(),
                success: function (data, textStatus, jqXHR) {
                    $("#getPersonResult").val(data.name);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#getPersonResult").val(jqXHR.statusText);
                }
            });
        });
      
        $('#getPerson').click(function (e) {
            $("#getPersonResult").val("");
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                url: "/api/person/" + $("#id").val(),
                success: function (data, textStatus, jqXHR) {
                    $("#getPersonResult").val(data.Name);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#getPersonResult").val(jqXHR.statusText);
                }
            });
        });

        $('#create').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "POST",
                url: "/api/person",
                data: JSON.stringify({
                    Name: document.getElementById('name').value,
                    Email: document.getElementById('emailAddress').value
                }),
                success: function (data, textStatus, jqXHR) {
                    $("#postResult").val("Person created ok. Id=" + jqXHR.responseText);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#postResult").val(jqXHR.statusText);
                }
            });
        });


       
    </script>

</fieldset>

  

